[user]
	email = chi@marandino.dev
	name = Chiyen Venegas
[alias]
	resacon = !git log --source --since=yesterday --until=today --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all --author="Chiyen"
	# quepasoayer = !git log --source --since=yesterday --until=today --pretty=format:'%Cred%h%Cresetñ %s' --all --author="Chiyen"
	quepasoayer = !git log --source --since=yesterday --until=today --pretty=format:'%Cred%h%Creset %Cgreen(%cr)%Creset %Cblue%B%Creset'  --all --author="Chiyen"
	allhands = !git log --source --all --author=Chiyen --since=1_week_ago --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

	undo = reset --soft HEAD^
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	chichi = !git stash && git checkout 
	up = !git fetch && git rebase --autostash FETCH_HEAD
	current = rev-parse --abbrev-ref HEAD
	pp = !CURRENT=$(git current) && git push -u origin $CURRENT
	glog=!git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	krew=!git log --pretty=oneline --abbrev-commit
	s = status
	co = checkout
	br = branch
	cane = commit --amend --no-edit
	lo = log --oneline -n 10
	gg = !git add -A -p
	ggg = !git restore --staged .
	zoro = !git branch --sort=-committerdate  # DESC
	nxt =	!git add . && git rebase --continue
	rebass = !git fetch && git rebase --autostash
	ff = !branch=$(git symbolic-ref HEAD | cut -d '/' -f 3) && git merge --ff-only ${1:-$(git config --get branch.$branch.remote)/$( git config --get branch.$branch.merge | cut -d '/' -f 3)}
	cp = !git cherry-pick
	wat = !git whatchanged -p --since="yesterday"
[core]
	excludesfile = /home/marandino/.gitignore_global
	editor = vim
 
[init]
	defaultBranch = main
